@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
   box-sizing: border-box;
   outline: none;
}

body {
   margin: 0;
   padding: 0;
   background: url(./img/back.jpeg)no-repeat content-box;
   background-size: cover;
   font-family: 'Open sans', sans-serif;
   font-size: 1.3em;
   line-height: 1.5em;
}

.glass {
   backdrop-filter: blur(7px);
}

.container {
   max-width: 640px;
   margin: 50px auto;
   background: rgba(255, 255, 255, 0.3);
   padding: 20px;
   border-radius: 10px;
}

h1 {
   text-align: center;
   font-weight: 400;
   font-family: monospace;
   color: rgba(255, 255, 255, 0.6);
}

form input,
form label,
form button {
   display: block;
   width: 100%;
   margin-bottom: 10px;
}

form input {
   font-size: 24px;
   height: 50px;
   padding: 0 20px;
   outline: none;
   border: #2e2c2c 2px solid;
   border-radius: 8px;
   background: rgba(255, 255, 255, 0.1);
}


form button {
   border: none;
   border-radius: 8px;
   background: rgba(0, 0, 0, 0.5);
   color: #fff;
   font-size: 18px;
   font-weight: 700;
   height: 50px;
   cursor: pointer;
   margin-top: 30px;
   transition: 0.7s;
   max-width: 60%;
   margin: 15px auto;
}

form button:hover {
   background: rgba(0, 0, 0, 0.7);
}

.erro{
   background: rgb(243, 93, 93);
   padding: 10px 20px;
}
.resultadoP{
   background: rgba(145, 250, 245, 0.959);
   padding: 10px 20px;
   border-radius: 4px;
}