body {
  background-color: rgb(8, 124, 45);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 3rem;
  font-weight: 200;
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fade63;
  text-shadow: 5px 5px 5px rgb(100, 7, 7);
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
}
h4 {
  font-size: 2rem;
  margin-right: 5rem;
  color: #f7d129;
  padding: 12px;
  background-color: rgb(100, 7, 7);
  border-radius: 6px;
  box-shadow: 5px 5px 10px #222;
}
